body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #333;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.produto {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 15px;
    text-align: center;
    width: 200px;
    margin: 10px;
}

.produto img {
    width: 100%;
    height: auto;
}

.produto h2 {
    font-size: 1.2em;
    color: #333;
}

.produto p {
    color: #666;
}
