<!-- ecommerce/loja/templates/loja/lista_produtos.html -->
{% extends 'base.html' %}

{% block title %}Lista de Produtos{% endblock %}

{% block content %}
<h1>Produtos Disponíveis</h1>
<div class="produtos">
    {% for produto in produtos %}
        <div class="produto">
            <img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}">
            <h2><a href="{% url 'detalhes_produto' produto.id %}">{{ produto.nome }}</a></h2>
            <p>R$ {{ produto.preco }}</p>
            <p>{{ produto.descricao }}</p>
        </div>
    {% empty %}
        <p>Nenhum produto disponível.</p>
    {% endfor %}
</div>
{% endblock %}
